# Telegram Bot Token
BOT_TOKEN=

# Kinopoisk Unofficial API key (https://kinopoiskapiunofficial.tech)
KINOPOISK_API_KEY=

POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=moviebot
DATABASE_URL=postgresql+psycopg://postgres:your_password@postgres/moviebot

REDIS_URL=redis://localhost:6379

WEBHOOK_URL=
WEBHOOK_PATH=/webhook
HOST=0.0.0.0
PORT=8000
CACHE_TTL=86400
MAX_RESULTS_PER_SEARCH=5
